/* html {
    background-color: rgb(217, 226, 241);
} */
.text-area {
    font-size: 26px

}

.textarea-div {
    background-color: rgb(217, 226, 241);
    padding: 20px;

}

.text-input-container, button, select {
    font-size: 22px
}

.text-input-header {
    font-size: 30px;
    padding: 10px;
    color: rgb(1, 1, 102);
    
}

button  {
    padding: 10px 15px;
    margin-bottom: 30px;
}

select  {
    margin: 20px 0;
    padding: 5px;
}