*{margin: 0;
    padding: 0;}
    
.vocab-list-div {
    background-color: rgb(217, 226, 241);
}

.vocab-lists-listings-container {
    font-size: 25px;
}

.list-name {
    margin: 20px;
}

.vocab-list-item {
    font-size: 22px;
}

.select-button {
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
}