.App {
  text-align: center;
}

.App-header {
  margin: 20px;
  color: navy;
}

h2 {
  color: navy;
}

.header-h1 {
  margin-bottom: 35px;
  font-style: italic;
  font-size: 23px;
  padding-top: 10px; 
}

.page-titles {
  font-size: 40px;
  padding: 10px;
}
